.venv
.vscode
src/discord_bot.egg-info/
discord_bot.egg-info/
*.egg-info/
dist/
build/
__pypackages__/
/src/discord_bot.egg-info
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.log
uv.lock
.mypy_cache/