services:
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      # Add authSource=admin so root can authenticate
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/?authSource=admin
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass

  gradio:
    build:
      context: .
      dockerfile: src/discord_bot/dockerfile
    ports:
      - "7860:7860"
    environment:
      # Add authSource=admin for root authentication
      MONGO_URI: mongodb://root:example@mongo:27017/?authSource=admin
      GRADIO_SERVER_NAME: 0.0.0.0
      GRADIO_SERVER_PORT: 7860
    volumes:
      - .:/usr/src/discord_bot:rw
    depends_on:
      - mongo
    restart: always